body {
    background: #7c3976;
    font-family: "Marck Script", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #060505;
}

.wrapper,
.list {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #cbc8c8;
    border-radius: 2em;
    padding: 3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.link:hover {
    background: #f9cef9;
    /* font-size: 20px; */
    border: 3px dotted #000;
}

.input:focus {
    border: 5px groove #b59db3;
}

.list {
    font-size: 30px;
    color: #edb7e6;
    text-align: center;
}

.list__item:first-child {
    text-transform: lowercase;

}

.list__item:nth-child(2) {
    font-size: 50px;
    line-height: 180%;
}

.list__item:nth-child(3) {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
.list__item:nth-child(4) {
    text-transform: lowercase;
}
.list__item:nth-child(5) {
    text-transform: lowercase;
}

.list__item:last-child {
    line-height: 150%;
    font-size: 50px;
    color: #fcf8f8;
}