body {
  font-family: sans-serif;
}

table {
  margin: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th,
caption {
  border: 1px solid black;
  padding: 0 5px;
}

caption {
  font-weight: 700;
  font-size: larger;
  border-bottom: none;
}

.weekend {
  color: red;
}
