/* ---------первый вариант--------- */
/* :root {
    --border-color: #5f66bb;
    --accent-color: #b4bfe4;
}

#open-modal {
    width: 250px;
    height: 40px;
    font-size: 16px;
    background: var(--accent-color);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    cursor: pointer;
}

dialog {
    border-radius: 30px;
    padding: 20px;
    background-color: var(--accent-color);
    box-shadow: 0 0 10px var(--border-color);
    width: 37vw;
    min-height: 23vh;
}

#close-modal {

    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
} */


/* ----------второй вариант----------- */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --border-color: #718653;
    --accent-color: #b5d28a;
}

.open-modal {
    width: 250px;
    height: 40px;
    font-size: 16px;
    background: var(--accent-color);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #69735bc1;
}

.modal-content {
    position: relative;
    top: 30%;
    left: 30%;
    width: 37vw;
    min-height: 23vh;
    padding: 20px;
    background-color: var(--accent-color);
    border-radius: 30px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 10px var(--border-color);
}

.modal__close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}